*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:plum;
    background-size: cover;
    background-position: center;
    color: pink;
    

}
.wrapper{
    width: 420;
    background: transparent;
    border:  2px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding:  30px 40px;

}
.input-box{
    text-align: center;
    

}
.submit{
    text-align: center;

}
.btn{
    text-align: center;
    
}
